{:deps    {org.clojure/clojure    {:mvn/version "1.10.2"}
           aleph/aleph            {:mvn/version "0.4.7-alpha7"}
           org.clojure/core.async {:mvn/version "1.3.610"}
           babashka/process       {:mvn/version "0.0.1"}
           cheshire/cheshire      {:mvn/version "5.10.0"}
           org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}

 :paths   ["src" "resources"]

 :aliases {:jar    {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                  :sha     "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                    :main-opts  ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "target/aci-tcp-proxy.jar"]}

           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.3"}}
                    :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"
                                 "target/aci-tcp-proxy.jar" "true"]}}}